<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/">HOME</a></li>
            <li><a href="{{ site.baseurl }}/details">COMPETITION DETAILS</a></li>
            <li><a href="{{ site.baseurl }}/apply">APPLY</a></li>
            <li><a href="{{ site.baseurl }}/winners">PAST WINNERS</a></li>
            <li><a href="{{ site.baseurl }}/sponsors">SPONSORS</a></li>
            <li><a href="{{ site.baseurl }}/contact">CONTACT US</a></li>
          </ul>
        </div>
        <p>Copyright &copy; 2018 Carnegie Mellon University. Developed by <a href="http://www.cmuuea.com" target="_blank">CMU Undergraduate Entrepreneurship Association</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>